<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
<div th:fragment="change-modal">
    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="change-modal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item"><a class="nav-link active"
                                                        id="change-tab" data-toggle="tab" href="#change" role="tab"
                                                        aria-controls="change" aria-selected="true">Đổi mật khẩu</a></li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <form class="tab-pane fade show active" id="change"
                                     role="tabpanel" aria-labelledby="change-tab">
                                    <div class="form-group">
                                        <label for="change_password">Mật khẩu hiện tại *</label> <input
                                            type="password" class="form-control" id="change_password"
                                            name="change_password" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="change_retype_password">Mật khẩu mới *</label> <input
                                            type="password" class="form-control" id="change_retype_password"
                                            name="change_retype_password" required>
                                    </div>
                                    <!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="change_retype_password2">Xác nhận mật khẩu *</label> <input
                                            type="password" class="form-control" id="change_retype_password2"
                                            name="change_retype_password2" required>
                                    </div>
                                    <!-- End .form-group -->

                                    <div class="form-footer">
                                        <button class="btn btn-outline-primary-2">
                                            <span>XÁC NHẬN</span> <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </div>
                                    <!-- End .form-footer -->
                                </form>
                            </div>
                            <!-- End .tab-content -->
                        </div>
                        <!-- End .form-tab -->
                    </div>
                    <!-- End .form-box -->
                </div>
                <!-- End .modal-body -->
            </div>
            <!-- End .modal-content -->
        </div>
        <!-- End .modal-dialog -->
    </div>
    <!-- End .modal -->
</div>
</body>

</html>