<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
	<div th:fragment="order-view">
		<div class="modal fade" id="orderView-modal" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered"
				style="max-width: 1500px;" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="container quickView-container">
							<div class="quickView-content">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<table class="table table-mobile">
											<h4>THÔNG TIN ĐƠN</h4>
											<tbody>
												<tr>
													<th>Mã đơn hàng</th>
													<th id="order__view__id">1</th>
												</tr>
												<tr>
													<th>Ngày đặt hàng</th>
													<th id="order__view__create__day">1</th>
												</tr>

												<tr>
													<th>Hình thức thanh toán </th>
													<th id="order__view__pay">1</th>
												</tr>
												<tr>
													<th>Ngày bắt đầu</th>
													<th id="order__view__start__date">1</th>
												</tr>
												<tr>
													<th>Ngày kết thúc</th>
													<th id="order__view__end__date">1</th>
												</tr>
												<tr>
													<th>Trạng thái</th>
													<th id="order__view__status">1</th>
												</tr>
												<tr>
													<th>Tên xe</th>
													<th id="order__view__car">1</th>
												</tr>
												<tr>
													<th>Hãng xe</th>
													<th id="order__view__brand">1</th>
												</tr>
												<tr>
													<th>Chủ xe</th>
													<th id="order__view__owner">1</th>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-lg-6 col-md-6">
										<table class="table table-mobile">
											<h4>THÔNG TIN KHÁCH HÀNG</h4>
											<tbody>
											<tr>
												<th>Họ tên</th>
												<th id="order__view__name">1</th>
											</tr>
											<tr>
												<th>Số điện thoại</th>
												<th id="order__view__phone">1</th>
											</tr>
												<tr>
													<th>Địa chỉ</th>
													<th id="order__view__address">1</th>
												</tr>
												<tr>
													<th>Email</th>
													<th id="order__view__email">1</th>
												</tr>
												<tr>
													<th>Tổng tiền</th>
													<th id="order__view__total">1</th>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End .modal-body -->
				</div>
				<!-- End .modal-content -->
			</div>
			<!-- End .modal-dialog -->
		</div>
	</div>
</body>

</html>